.section-formulario-novo-anuncio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../RodaPe/black-logo-tora.png');
    background-size: 140px;
}
.section-formulario-novo-anuncio ::-webkit-file-upload-button {
    background: #8ba1c7;
    border: none;
    color: white;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
}
.section-upload-novo-anuncio{
    width: 100%;
    height: auto;
}
.section-campos-form{
    display: flex;
    width: 1300px;
    height: auto;
}
.section-body-formulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensagem-novo-anuncio{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5a5a5;
    box-shadow: inset rgb(146, 146, 146) 0px -10px 10px 10px;
    color: white;
}
.formulario-cadastro-novo-veiculo{
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario-cadastro-novo-veiculo input{
    border: none;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 5px;
    box-shadow: inset rgba(206, 206, 206, 0.24) 0px -10px 20px 0px;
    padding: 11px;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    height: 8px;
    color: rgb(36, 40, 102);
}
.section-ficha_tecnica_formulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-body-formulario label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(146, 146, 146);
    padding-bottom: 8px;
}
.section-informacoes_sit_formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text-livre {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.text-livre textarea{
    width: 400px;
    height: 50px;
    max-width: 500px;
    max-height: 500px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}
.text-livre textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.formulario-cadastro-novo-veiculo input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.text-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    padding-bottom:8px;
    border-bottom: 5px solid rgba(158, 158, 158, 0.336);
    box-shadow: inset rgba(202, 202, 202, 0.055) 0px -22px 25px 10px;
}
.buttonLupa{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.btn_form button{
    margin-top: 10px;
    width: 10%;
    height: 35px;
    border: none;
    box-shadow: inset rgba(190, 190, 190, 0.26) 0px -10px 15px 1px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer; 
    border: 0.7px rgb(173, 173, 173) solid;
    background-color: #40e000c7;
    color: white;
    background-color: rgb(7, 160, 27);
}

.div-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-anuncio{
    width: 100%;
    height: 50px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}
.btn_form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 10px;
}
.formulario-cadastro-novo-veiculo select{
    width: 200px;
    border: 0.6px solid rgb(173, 173, 173);
    box-shadow: inset rgba(173, 173, 173, 0.253) -0px -10px 4px 3px;
    padding: 5px;
    font-weight: 600;
}
.formulario-cadastro-novo-veiculo select option{
    width: 200px;
    border: 0.6px solid rgb(173, 173, 173);
    box-shadow: inset rgba(173, 173, 173, 0.253) -0px -10px 4px 3px;
    padding: 5px;
    font-weight: 700;
    color: rgb(74, 103, 165);
}
.modal-informacoes{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 400px 400px 400px;
    flex-direction: column;
}
.div-novoanuncio{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
option{
    background-image: url('../NavBar/black-logo.png');
    border: 1px solid rgb(202, 201, 201);
    border-radius: 2px;
    margin-right: 5px;
    box-shadow: inset rgba(165, 165, 165, 0.322) 0px -10px 20px 0px;
    padding: 21px;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    height: 8px;
}