.section_home{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto 380px ;
    grid-template-rows: 400px 30px auto 1000px;
}
.barra-home{
    width: 100%;
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: red;
    color: white;
}
.space_home{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/3;
}
.mensagemHomeSpace{
    width: 70%;
    font-size: 10px;
    text-align: start;
    border-radius: 88px ;
    text-align: center;
}

.mensagemHome{
    width: 100%;
    height: 200px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../Style/quemsomos.jpg');
    flex-direction: column;
}
.mensagemHome .label1 {
    width: 70%;
    height: 50px;
    align-items: flex-start;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
}
.mensagemHome .label2{
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    align-items: flex-start;
    color: orange;
    background-color: rgb(255, 255, 255); 
}
.mensagemHome button{
    padding: 6px;
    border: none;
    width: 10%;
    background-color: green;
    color: rgb(255, 255, 255);
}
.banner_home{
    width: 100%;
    height: 400px;
    grid-column: 1/4;
    grid-row: 1/2;
}
.listaAnuncio_home{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/3;
}
.AnuncioDestaqueHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: rgb(167, 162, 162);
    margin-bottom: 50px;
    margin-bottom: 200px;
}
.filtrosAnuncio_home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3/4;
    grid-row: 3/4;
}
.Sobre_home{
    width: 100%;
    grid-column: 1/4;
}


@media (max-width: 1080px){
    .AnuncioDestaqueHome{
        display: none;
    }
    .mensagemHome{
        font-size: 12px;
    }
    .mensagemHome .label1{
        width: 38%;
    }
}
@media (max-width: 880px){
    .section_home{
        display: flex;
        flex-direction: column;
    }
    .space_home{
        height: 40px;
    }
    .listaAnuncio_home {
        display: flex;
        flex-direction: column;
    }
    .mensagemHome{
        text-align: center;
    }
    .mensagemHomeSpace{
        font-size: 13px;
    }
    .mensagemHomeSpace{
        opacity: 0%;
    }
    .mensagemHome{
        display: none;
    }
}