.section_rodape{
    height: auto;
    width: auto;
    position: static;
    color: rgb(255, 255, 255);
    bottom: 0px;
    width: 100;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: orange;
    background-image:
    linear-gradient(
      to right, 
      black,
      orange
      );
    background-image: url('./black-logo-tora.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.mensagem-rodape{
  width: 100%;
  height: 50vh;
  display: grid;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.mensagem-rodape div {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  padding-left: 20px;
  text-align: start;
}
.mensagem-rodape div button{
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 10px;
  margin-left: 4px;
  cursor: pointer;
}
.mensagem-rodape div button:hover{
  background-color: orange;
  color: rgb(0, 0, 0);
}

.contatos-rodape{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.contatos-rodape ul {
  list-style: none;
}