.conteudo-button-escolha{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal-button-escolha{
    width: 100%;
}
.button-chat{
    background-color: rgba(0, 100, 0, 0.856);
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
.button-formulario{
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    background-color: orange;
    cursor: pointer;
}
.button-chat:hover{
    color:rgb(105, 105, 105);
    background-color: rgb(215, 255, 221);
}
.button-formulario:hover{
       color:rgb(109, 109, 109);
    background-color: rgb(255, 230, 183);
}